{% extends "_base.twig" %}

{% block content %}
  <div class="page-hero">
    <div class="container">
      <header class="masthead" role="banner">
        <div class="masthead-brand">
          <a class="masthead-logo" href="/" title="Johns Hopkins University &amp; Medical">Johns Hopkins University &amp; Medical</a>
        </div>

        <nav class="masthead-menu" role="navigation">
          <ul class="masthead-nav">
            {% for item in primary.get_items %}
              <li class="masthead-nav-item">
                <a class="masthead-nav-link {{ item.classes|join(' ') }}" href="{{ item.get_link }}" title="{{ item.title }}">{{ item.title }}</a>
              </li>
            {% endfor %}
	    <li class="masthead-nav-item">
	      <a class="masthead-nav-link" id="js-show-about" href="#about">About</a>
	    </li>
          </ul>
        </nav>
      </header>
      <div class="hopkins-local">
        <h1 class="hopkins-local-mark" id="js-fit-local">
          Hopkins<strong class="hopkins-local-emphasis">Local</strong>
        </h1>
        <p class="hopkins-local-tagline">Build. Hire. Buy.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="page-intro">
      <h2 class="page-intro-heading">
        {{ post.title }}
      </h2>
      <div class="page-intro-content">
        {{ post.content }}

      </div>
      <div class="page-intro-video">
        <a class="page-intro-videolink" id="js-video-gallery" href="{{ post.video_link_url }}" title="">
            <img class="page-intro-videolink-image" src="{{site.theme.link}}/images/play-video.jpg" alt="{{ post.video_link_text }}">
            <strong class="page-intro-videolink-text">{{ post.video_link_text }}</strong>
        </a>

      </div>
    </div>
  </div>


  <div class="content-blocks">
  <h2 class="content-blocks-header">
    HopkinsLocal in Action
  </h2>
  {% if posts|length %}
    {% for item in posts|slice(0,1) %}
    <div class="content-blocks-columns-1">
      {% if item.story_url|length %}
      <a class="block-stack" href="{{ item.story_url }}" style="background-image: url('{{ item.thumbnail.src|resize(500, 500) }}'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ item.thumbnail.src|resize(500, 500) }}', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ item.thumbnail.src|resize(500, 500) }}', sizingMethod='scale')"; " target="_blank">
        <h2 class="block-stack-heading">
          {{ item.title }}
        </h2>
      </a>
      {% else %}
      <div class="block-stack" style="background-image: url('{{ item.thumbnail.src|resize(500, 500) }}'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ item.thumbnail.src|resize(500, 500) }}', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ item.thumbnail.src|resize(500, 500) }}" target="_blank">
        <h2 class="block-stack-heading">
          {{ item.title }}
        </h2>
      </div>
      {% endif %}
    </div>
    {% endfor %}

    <div class="content-blocks-columns-2">
    {% for item in posts|slice(1,2) %}
      {% if item.story_url|length %}
      <a class="block-stack" href="{{ item.story_url }}" style="background-image: url('{{ item.thumbnail.src|resize(500, 500) }}');" target="_blank">
        <h2 class="block-stack-heading">
          {{ item.title }}
        </h2>
      </a>
      {% else %}
      <div class="block-stack" style="background-image: url('{{ item.thumbnail.src|resize(500, 500) }}');" target="_blank">
        <h2 class="block-stack-heading">
          {{ item.title }}
        </h2>
      </div>
      {% endif %}
    {% endfor %}
    </div>

    <div class="content-blocks-columns-2">
    {% for item in posts|slice(3,2) %}
    {% if item.story_url|length %}
    <a class="block-stack" href="{{ item.story_url }}" style="background-image: url('{{ item.thumbnail.src|resize(500, 500) }}');" target="_blank">
      <h2 class="block-stack-heading">
        {{ item.title }}
      </h2>
    </a>
    {% else %}
    <div class="block-stack" style="background-image: url('{{ item.thumbnail.src|resize(500, 500) }}');" target="_blank">
      <h2 class="block-stack-heading">
        {{ item.title }}
      </h2>
    </div>
    {% endif %}
    {% endfor %}
    </div>
  {% endif %}

  </div> <!-- /.content-blocks -->


  {% if focuses|length %}
  <div class="focuses">
    <div class="focuses-canister">
    {% for focus in focuses %}
      <div class="focus-item-{{ focus.slug }}">
        <h2 class="focus-item-heading">{{ focus.title}}</h2>
        <div class="focus-item-content">
          <div class="focus-item-text">{{ focus.page_excerpt|wpautop }}</div>
          {% if focus.get_field('more_information_link') %}
            {% for item in focus.get_field('more_information_link') %}
            <a class="focus-link-more" href="{{ item.link_url }}" title="{{ item.link_text }}">
              {{ item.link_text }}
            </a>
            {% endfor %}
          {% endif %}
          {% if focus.get_field('focus_link') %}
            {% for item in focus.get_field('focus_link') %}
            <a class="focus-link-option" href="{{ item.link_url }}" title="{{ item.link_text }}">
              {{ item.link_text }}
            </a>
            {% endfor %}
          {% endif %}
        </div>

      </div>
      <!-- /.focus-item-{{ focus.slug }} -->
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% endblock %}
