{% extends "_base.twig" %}

{% block content %}
  <div class="page-hero">
    <div class="container">
      <header class="masthead" role="banner">
        <div class="masthead-brand">
          <a class="masthead-logo" href="/" title="Johns Hopkins University &amp; Medical">Johns Hopkins University &amp; Medical</a>
        </div>

        <nav role="navigation">
          <ul class="masthead-nav">
            {% for item in primary.get_items %}
              <li class="masthead-nav-item">
                <a class="masthead-nav-link {{ item.classes|join(' ') }}" href="{{ item.get_link }}" title="{{ item.title }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <div class="hopkins-local">
        <h1 class="hopkins-local-mark" id="js-fit-local">
          Hopkins<strong class="hopkins-local-emphasis">Local</strong>
        </h1>
        <p class="hopkins-local-tagline">Build. Hire. Buy</p>
      </div>
    </div>
  </div>


  <div class="page-intro">
    <h2 class="page-intro-heading">For a stronger Baltimore.</h2>
    <div class="page-intro-content">
      <p>
        HopkinsLocal leverages Johns Hopkins University and Health System’s role as an economic engine to create lasting opportunities in Baltimore.
      </p>
      <p>
        <a class="page-intro-videolink" id="js-video-gallery" href="http://player.vimeo.com/video/2285902" title="">
          <span class="icon-play-md"></span>
          Watch the video to learn more about
          <br>“What is HopkinsLocal?”</a>
      </p>
    </div>
  </div>


  <div class="content-blocks">
  {% if posts|length %}
    {% for item in posts|slice(0,1) %}
    <div class="content-blocks-columns-1">
      <div class="block-stack">
      <h2 class="block-stack-heading">
        <a class="block-stack-link" href="{{ item.source_url }}" title="{{ item.title }}">
          {{ item.title }}
        </a>
        </h2>
      </div>
    </div>
    {% endfor %}
  {% endif %}

    <div class="content-blocks-columns-2-pattern">
      <div class="block-quote">
        <blockquote class="block-quote-quote">
        {{ post.quote_text|wpautop }}
        </blockquote>
        <div class="block-quote-sources">
        {% for source in post.get_field('quote_sources') %}
        <p class="block-quote-source">
          {{ source.source_name }}
          <span class="block-quote-source-position">
            {{ source.source_position}}
          </span>
        </p>
        {% endfor %}
        </div>
      </div>
    </div>

  {% if 1 < posts|length %}
  <div class="content-blocks-columns-2">
  {% for item in posts|slice(1,3) %}
  <div class="content-blocks-columns-1">
    <div class="block-media-left">
    <h2 class="block-media-heading">
      <a class="block-media-link" href="{{ item.source_url }}" title="{{ item.title }}">
        {{ item.title }}
      </a>
      </h2>
    </div>
  </div>
  {% endfor %}
  </div>
  {% endif %}

  </div> <!-- /.content-blocks -->


  <div class="map">
    <div class="map-overlay">
      <div class="map-overlay-canister">
        <div class="map-overlay-content">
          <h2 class="map-overlay-heading">
            {{ post.map_heading }}
          </h2>
          {{ post.map_text }}
        </div>
      </div>
    </div>
    <div class="map-viewport" id="map"></div>
    <!-- /#map.map-viewport -->
  </div>


  {% if focuses|length %}
  <div class="focuses">
    <div class="focuses-canister">
    {% for focus in focuses %}
      <div class="focus-item-{{ focus.slug }}">
        <h2 class="focus-item-heading">{{ focus.title}}</h2>
        <div class="focus-item-content">
        {{ focus.page_excerpt|wpautop }}

        {% if focus.get_field('more_information_link') %}
          {% for item in focus.get_field('more_information_link') %}
          <a class="focus-link-more" href="{{ item.link_url }}" title="{{ item.link_text }}">
            {{ item.link_text }}
          </a>
          {% endfor %}
        {% endif %}
        {% if focus.get_field('focus_link') %}
          {% for item in focus.get_field('focus_link') %}
          <a class="focus-link-option" href="{{ item.link_url }}" title="{{ item.link_text }}">
            {{ item.link_text }}
          </a>
          {% endfor %}
        {% endif %}
        </div>
      </div>
      <!-- /.focus-item-{{ focus.slug }} -->
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% endblock %}
