<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/styles/vendor.css">
    <link rel="stylesheet" href="{{site.theme.link}}/styles/webfonts.css">
    <link rel="stylesheet" href="{{site.theme.link}}/styles/main.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ site.theme.link }}/styles/ie.css">
    <![endif]-->
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}
    <script src="/modernizr/modernizr.js"></script>
